/* Modal do Carrinho */
.cart-modal {
    display: none; /* Oculto inicialmente */
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo com opacidade para desfocar o fundo */
    backdrop-filter: blur(5px); /* Desfoque do fundo */
}

/* Conteúdo do Modal */
.cart-content {
    background-color: #fff;
    margin: 5% auto; /* Margem ajustada para aparecer mais como um menu */
    padding: 20px;
    border: 1px solid #888;
    width: 90%; /* Ajuste a largura conforme necessário */
    max-width: 400px; /* Largura máxima do modal */
    border-radius: 10px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para efeito de elevação */
}

/* Botão de Fechar do Modal */
.close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
}

/* Botões dentro do Modal */
#send-whatsapp, #clear-cart {
    background-color: #ff66a3;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 18px;
    transition: background-color 0.3s;
}

#send-whatsapp:hover, #clear-cart:hover {
    background-color: #e64980;
}

/* Botão Flutuante do Carrinho */
.floating-cart-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    cursor: pointer;
    text-align: center;
    z-index: 1000;
}

/* Selo de quantidade no botão flutuante */
.cart-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #ff0000;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
    z-index: 1002;
}

/* Ajuste do botão de rolar para cima */
#scrollToTopBtn {
    position: fixed;
    bottom: 20px;
    left: 20px; /* Posiciona à esquerda */
    display: none; /* Esconde o botão inicialmente */
    background-color: white; /* Fundo branco */
    color: #007bff; /* Cor do ícone */
    border: 2px solid #007bff; /* Borda azul */
    border-radius: 50%; /* Arredonda o botão */
    width: 50px; /* Largura do botão */
    height: 50px; /* Altura do botão, igual à largura para manter o formato circular */
    padding: 0; /* Remove o padding para manter o formato circular */
    cursor: pointer;
    font-size: 24px; /* Ajusta o tamanho do ícone */
    z-index: 1000;
    text-align: center; /* Centraliza o ícone dentro do botão */
    line-height: 50px; /* Alinha verticalmente o ícone dentro do botão */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adiciona sombra para efeito de profundidade */
    transition: background-color 0.3s, color 0.3s; /* Transição suave para alterações de cor */
}

#scrollToTopBtn i {
    margin: 0;
}

#scrollToTopBtn:hover {
    background-color: #007bff; /* Fundo azul ao passar o mouse */
    color: white; /* Cor do ícone ao passar o mouse */
}
