body { background: #939393;
  color: #555;
   }
   
   .corpo {
     width: 960px;
     margin: auto;
   }
   
   .conteudo {
     display: table;
   }
   
   .imagem {
     display: table-cell;
     float: left;
     margin-left: -10px;
   }
   
   .texto {
   display: table-cell;
   float: left;
   width: 200px;
   margin-left: 10px;
   }

.hr {
  border: 0;
  border-top: 1px dashed #CCC;
}

.button {
   border: 1px solid #dddddd;
   background: #ccc;
   padding: 5px 10px;
   color: #ffffff;
   font-size: 14px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
   
.button:hover {
   background: #eeeeee;
   color: #cccccc;
   }
   
.button:active {
   background: #dddddd;
   }

.aligncenter {
display: block;
margin-left: auto;
margin-right: auto;
padding: 3px;
text-align: center;
background-color: #ffffff;
border: 1px solid #dbdbdb;
}

.alignleft{
float: left;
margin: 1px 4px 0 0;
padding: 3px;
background-color: #ffffff;
border: 1px solid #dbdbdb;
}

.alignright{
float: right;
margin: 1px 0 0 4px;
padding: 3px;
background-color: #ffffff;
border: 1px solid #dbdbdb;
}

.alignnone{
display: block;
margin-left: auto;
margin-right: auto;
padding: 3px;
text-align: center;
background-color: #ffffff4c;
border: 2px double #f0f0;
border-radius: 40px;
}
.borda {
  border-radius: 10px;
}

.bordahome {
  border-radius: 5px
}